<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div><label for="firstName"></label><input id="firstName" type="text" value="{{.FirstName}}"></div>
    <div><label for="lastName"></label><input id="lastName" type="text" value="{{.LastName}}"></div>
    <div><label for="age"></label><input id="age" type="number" value="{{.Age}}"></div>
    <div><label for="motto"></label><input id="motto" type="text" value="{{.Motto}}"></div>
</div>
</body>
</html>